[Desktop Entry]
Name=Passenger
GenericName=DIY Password Manager
Comment=A password manager that keeps password encoded and cannot connect network.
Exec=passenger-pm
Icon=/usr/share/passenger-pm/assets/passenger.svg
Terminal=false
Type=Application
Categories=Utility
Keywords=password, manager
